{% extends 'base.html' %}
{% block content %}
<style>


.container {
  color: white;
   text-indent: 50px;
   letter-spacing: 3px;
   word-spacing: 10px;
}

h1 {
  color: white;
}

</style>

<div class=" container form-group">
  <br>
  <h1>Our Servies</h1>
  <ol>
    <ul>
      <li>rakesh</li>
    </ul>
    <li> FTL- Full Truck Load</li>
    <li>LCL Consolidation</li>
    <li>Project Handling</li>
  </ol>
  </div>


  <div class="container form-group">
    <h1>Our Upcoming Servies</h1>
    <ol>
      <li>Warehousing.</li>
      <li>Warehousing & Distribution</li>
      <li>Cold Storage & Distrubtion</li>
      <li>PAN India LCL & FTL Service</li>
    </ol>
    </div>

 </div>
 {% endblock %}
